[Unit]
Description=gcr-server daemon
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/lib/gcr-server/daemon.py start
ExecStop=/usr/lib/gcr-server/daemon.py stop
ExecReload=/usr/lib/gcr-server/daemon.py restart

[Install]
WantedBy=multi-user.target