[Unit]
Description=Deluge daemon
After=network.target

[Service]
Type=simple
User=root
ExecStart=python3 /usr/lib/gpio-control-relay/daemon.py start
ExecStop=python3 /usr/lib/gpio-control-relay/daemon.py stop
ExecReload=python3 /usr/lib/gpio-control-relay/daemon.py restart

[Install]
WantedBy=multi-user.target